<div class="max-w-screen-xl flex flex-wrap items-center justify-start mx-auto">
  <div class="font-medium flex flex-col p-2 md:flex-row md:space-x-8" [class.border-b-2]="component == '_SettingsProfileComponent'">
    <a href="/settings/profile" class="block py-2 px-3 text-white">Profil</a>
  </div>
  <div class="font-medium flex flex-col p-2 md:flex-row md:space-x-8" [class.border-b-2]="component == '_SettingsSecurityComponent'">
    <a href="/settings/security" class="block py-2 px-3 text-white">Login & Sicherheit</a>
  </div>
  <div class="font-medium flex flex-col p-2 md:flex-row md:space-x-8" [class.border-b-2]="component == '_SettingsGroupComponent'">
    <a href="/settings/group" class="block py-2 px-3 text-white">Gruppen</a>
  </div>
</div>
