<div class="align-top" style="width: 250px !important;">
  <ng-container *ngFor="let notification of notifications">
    <div
      class="p-3 rounded-md mt-1 notification shadow"
      style=""
      [class.text-white]="notification.type === 'danger' || notification.type === 'success'"
      [class.text-black]="notification.type === 'info' || notification.type === 'warning'"
      [class.bg-lime-600]="notification.type === 'success'"
      [class.bg-sky-600]="notification.type === 'info'"
      [class.bg-red-700]="notification.type === 'danger'"
      [class.bg-amber-400]="notification.type === 'warning'"
    >
      <span>
        {{ notification.text }}
      </span>
    </div>
  </ng-container>
</div>
