<div class="max-w-screen-xl flex flex-wrap items-center content-center justify-center mx-auto p-20">
  <div class="mt-18 w-screen">
    <div class="card bg-gray-700">
      <component-settings-navigation></component-settings-navigation>
      <div class="p-10">
        <div class="grid grid-cols-2 mb-6">
          <div class="justify-self-center">
            <h1 class="text-2xl text-white mb-6">Gruppe Anlegen</h1>
            <form [formGroup]="group_form" (ngSubmit)="createGroup()">
              <label for="group_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gruppenname</label>
              <input
                type="text"
                id="group_name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                style="width: 300px;"
                formControlName="group_name"
                required
              />
              <ng-container *ngIf="group_form_submitted && group_f['group_name'].errors">
                <div class="text-red-500 text-xs italic mt-2">
                  <div *ngIf="group_f['group_name'].errors?.['required']">Gruppenname is required</div>
                </div>
              </ng-container>
              <input type="submit" class="mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" value="Gruppe erstellen">
            </form>
          </div>
          <div class="justify-self-center">
            <h1 class="text-2xl text-white mb-6">Gruppe Verwalten</h1>
            <div class="text-white mb-6">
              <div>Hier können Sie bereits existierende Gruppen verwalten und neue Mitglieder hinzufügen.</div>
            </div>
            <div>
              <form>
                <label for="group" class="block mb-2 text-gray-900 dark:text-white">Gruppe</label>
                <select [(ngModel)]="selectedGroup" [ngModelOptions]="{standalone: true}" id="group" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option [value]="'-'" selected>Auswählen</option>
                  <option *ngFor="let option of groups" [value]="option.identifier">{{ option.title }}</option>
                </select>
              </form>
            </div>
          </div>
        </div>
        <ng-container *ngIf="selectedGroup != '-'">
          <hr>
          <div class="grid mt-6 text-white grid-cols-2">
            <div class="grid justify-center">
              <div class="w-fit">
                <div class="mb-5">
                  <div class="mb-2">
                    <label for="renamegroup" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Gruppe Umbenennen</label>
                  </div>
                  <div class="mb-2">
                    <input type="text" id="renamegroup" class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Gruppen-Name" style="width: 300px;" required />
                  </div>
                  <button (click)="renamegroup()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Umbenennen</button>
                </div>
                <div class="mb-2">
                  Hier haben Sie die möglichkeit, <br>die Ausgewählte Gruppe zu Löschen.
                </div>
                <button (click)="deletegroup()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Gruppe Löschen!</button>
              </div>
            </div>
            <div class="mb-10">
              <label for="adduser" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Nutzer Hinzufügen</label>
              <input type="text" id="adduser" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="dev@dev.com" style="width: 300px;" required />
              <div class="mb-5">
                <button (click)="adduser()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Hinzufügen</button>
              </div>
              <div>
                <label for="removeuser" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Nutzer Entfernen</label>
                <input type="text" id="removeuser" class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="dev@dev.com" style="width: 300px;" required />
                <button (click)="removeuser()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Entfernen</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
