<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <div class="pt-10 w-full">
    <div class="bg-gray-700 rounded-md w-full px-8 py-8" style="height: 700px">
      <div class="grid grid-cols-2 content-center pb-3">
        <div class="pl-3">
          <h2 class="ps-2 text-white text-start text-3xl">
            {{ panel_name }}
          </h2>
        </div>
        <div class="justify-self-end flex pr-1">
          <button class="text-white self-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="grid-flow-col flex pl-2 pr-2 pb-3">
        <div class="p-3 pt-5 flex overflow-x-auto w-1/7" cdkDropListGroup>
          <ng-container *ngFor="let list of lists">
            <div class="bg-gray-600 rounded-md me-3 h-fit min-w-64" style="width: 280px;">
              <div class="">
                <div class="p-2">
                  <h2 class="ps-2 pt-2 text-white text-start text-2xl">
                    {{ list.title }}
                  </h2>
                </div>
                <div class="overflow-y-auto max-h-[27rem]" cdkDropList [cdkDropListData]="list.entries" (cdkDropListDropped)="drop($event)">
                  <ng-container *ngFor="let item of list.entries; let last=last">
                    <div class="p-2 pt-1 pb-0 cursor-move tracking-wide" cdkDrag>
                      <div class="bg-gray-700 rounded-md">
                        <h2 class="p-2 ps-3 pe-3 pb-3 text-white text-start text-2xl break-words select-none">
                          {{ item.message }}
                        </h2>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="p-1 pt-0 flex justify-start cursor-pointer" (click)="addElementToList()">
                  <div class="rounded-md">
                    <div class="p-2 text-white text-2xl flex content-center">
                      <div class="grid content-center me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                      </div>
                      <div>
                        Hinzufügen
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
