<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <div class="pt-10 w-full">
    <div class="bg-gray-700 rounded-md w-full px-8 py-8" style="height: 700px">
      <div class="grid grid-cols-2 content-center pb-3">
        <div class="pl-3">
          <h2 class="ps-2 text-white text-start text-3xl">
            {{ panel.title }}
          </h2>
        </div>
        <div class="justify-self-end flex pr-1">
          <button class="text-white self-center" (click)="openListNamingModal(listNamingModal)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="grid-flow-col flex pl-2 pr-2 pb-3" cdkDropListGroup>
        <div class="p-3 pt-5 flex overflow-x-auto w-1/7">
          <ng-container *ngFor="let list of lists; let list_index=index">
            <div class="bg-gray-600 rounded-md me-3 h-fit min-w-64" style="width: 280px;">
              <div class="">
                <div class="p-2">
                  <h2 class="ps-2 pt-2 text-white text-start text-2xl">
                    {{ list.title }}
                  </h2>
                </div>
                <div class="overflow-y-auto max-h-[27rem]" cdkDropList [cdkDropListData]="list.entries" (cdkDropListDropped)="drop($event)">
                  <div class="mb-0.5"></div>
                  <ng-container *ngFor="let item of list.entries; let last=last; let item_index=index">
                    <div class="p-2 pt-1 pb-0 cursor-move tracking-wide" cdkDrag>
                      <div class="bg-gray-700 rounded-md hover:border-gray-400 hover:border-2 flex grid-flow-col auto-cols-min justify-between group">
                        <h2 class="p-2 ps-3 pe-3 pb-3 text-white text-start text-2xl break-words select-none">
                          {{ item.message }}
                        </h2>
                        <div class="group-hover:block hidden content-center">
                          <button class="text-white self-center me-2" (click)="deleteElement(item, item_index, list_index)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                            </svg>
                          </button>
                          <button class="text-white self-center me-2" (click)="openElementNamingModal(elementNamingModal, item_index, list_index)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="p-1 pt-0 flex justify-start cursor-pointer" (click)="addElementToList(list_index)">
                  <div class="rounded-md">
                    <div class="p-2 text-white text-2xl flex content-center">
                      <div class="grid content-center me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                      </div>
                      <div class="select-none">
                        Hinzufügen
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #listNamingModal>
  <label for="nameList" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Name *</label>
  <input
    id="nameList"
    class="mb-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    type="text"
  >
</ng-template>

<ng-template #elementNamingModal>
  <label for="nameElement" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Name *</label>
  <input
    id="nameElement"
    class="mb-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    type="text"
  >
</ng-template>
