<ng-container *ngIf="showModal">
  <div class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-gray-600 outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t align-middle">
          <h3 class="text-3xl font-semibold text-white">
            Benutzerbild Hochladen
          </h3>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <input (change)="readUrl($event)" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="file_input" type="file">
          <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
        </div>
        <!--footer-->
        <div class="flex items-center justify-center p-6 border-t border-solid border-blueGray-200 rounded-b">
          <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleUploadImageModal()">
            Abbrechen
          </button>
          <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="processImage()">
            Speichern
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</ng-container>

<div class="max-w-screen-xl flex flex-wrap items-center content-center justify-center mx-auto p-20">
  <div class="mt-18 w-screen">
    <div class="card bg-gray-700">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-start mx-auto">
        <div class="font-medium flex flex-col p-2 md:flex-row md:space-x-8" [class.border-b-2]="page == 'general'">
          <a href="/user-settings/general" class="block py-2 px-3 text-white">General</a>
        </div>
        <div class="font-medium flex flex-col p-2 md:flex-row md:space-x-8" [class.border-b-2]="page == 'security'">
          <a href="/user-settings/security" class="block py-2 px-3 text-white">Login & Sicherheit</a>
        </div>
        <div class="font-medium flex flex-col p-2 md:flex-row md:space-x-8" [class.border-b-2]="page == 'groups'">
          <a href="/user-settings/groups" class="block py-2 px-3 text-white">Gruppen</a>
        </div>
      </div>
      <ng-container *ngIf="page == 'general'">
        <div class="p-10">
          <div class="row columns-1 p-6">
            <div class="">
              <div class="content-center grid grid-cols-2">
                <div class="justify-center grid">
                  <h1 class="text-2xl text-white mb-6">Bild ändern</h1>
                  <div class="content-center">
                    <div class="justify-center grid cursor-pointer" (click)="toggleUploadImageModal()">
                      <img src="{{ user.image }}" class="rounded-full z-0" alt="User Image" width="96" height="96">
                      <div class="bg-slate-500 text-white rounded-full -mt-7 w-fit ms-16 z-10 relative">
                        <div class="p-2">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z" />
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="content-center">
                    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" (click)="deleteImage()">Bild entfernen</button>
                  </div>
                </div>
                <div class="">
                  <h1 class="text-2xl text-white mb-6">Nutzerdaten ändern</h1>
                  <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="grid gap-6 mb-6 grid-cols-2">
                      <div>
                        <label for="firstname" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Vorname</label>
                        <input type="text" id="firstname" class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="firstname" required />
                        <ng-container *ngIf="submitted && f['firstname'].errors">
                          <div class="text-red-500 text-xs italic mt-2">
                            <div *ngIf="f['firstname'].errors?.['required']">Vorname is required</div>
                          </div>
                        </ng-container>
                      </div>
                      <div>
                        <label for="lastname" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">Nachname</label>
                        <input type="text" id="lastname" class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="lastname" required />
                        <ng-container *ngIf="submitted && f['lastname'].errors">
                          <div class="text-red-500 text-xs italic mt-2">
                            <div *ngIf="f['lastname'].errors?.['required']">Nachname is required</div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="mb-6">
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-Mail Adresse</label>
                      <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="email" required />
                        <ng-container *ngIf="submitted && f['email'].errors">
                          <div class="text-red-500 text-xs italic mt-2">
                            <div *ngIf="f['email'].errors?.['required']">Email is required</div>
                            <div *ngIf="f['email'].errors?.['email']">Email is invalid</div>
                          </div>
                        </ng-container>
                    </div>
                    <div class="pb-10">
                      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Änderungen Speichern</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="page == 'security'">
        <div class="p-10">
          <div class="grid grid-cols-2">
            <form [formGroup]="password_form" (ngSubmit)="updatePassword()">
              <div class="justify-self-center">
                <h1 class="text-2xl text-white mb-6">Passwort ändern</h1>
                <div class="mb-4">
                  <label for="old_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Altes Passwort</label>
                  <input
                    type="password"
                    id="old_password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    style="width: 300px;"
                    formControlName="old_password"
                    required
                  />
                  <ng-container *ngIf="password_form_submitted && password_f['old_password'].errors">
                    <div class="text-red-500 text-xs italic mt-2">
                      <div *ngIf="password_f['old_password'].errors?.['required']">Altes Passwort is required</div>
                    </div>
                  </ng-container>
                </div>
                <div class="mb-4">
                  <label for="new_password" class="block  mb-2 text-sm font-medium text-gray-900 dark:text-white">Neues Passwort</label>
                  <input
                    type="password"
                    id="new_password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    style="width: 300px;"
                    formControlName="new_password"
                    required
                  />
                  <ng-container *ngIf="password_form_submitted && password_f['new_password'].errors">
                    <div class="text-red-500 text-xs italic mt-2">
                      <div *ngIf="password_f['new_password'].errors?.['required']">Passwort is required</div>
                    </div>
                  </ng-container>
                </div>
                <div class="mb-6">
                  <label for="val_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Passwort bestätigen</label>
                  <input
                    type="password"
                    id="val_password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    style="width: 300px;"
                    formControlName="val_password"
                    required
                  />
                  <ng-container *ngIf="password_form_submitted && password_f['val_password'].errors">
                    <div class="text-red-500 text-xs italic mt-2">
                      <div *ngIf="password_f['val_password'].errors?.['required']">Passwort is required</div>
                    </div>
                  </ng-container>
                </div>
                <div class="">
                  <input type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" value="Passwort Aktualisieren">
                </div>
              </div>
            </form>
            <div class="justify-self-center">
              <h1 class="text-2xl text-white mb-6">Account Deaktivieren</h1>
              <div class="text-gray-300 mb-6">
                <div class="mb-2">
                  Hier können Sie Ihren Account Deaktivieren lassen.
                </div>
                <div>
                  Falls Sie Ihre Daten komplett löschen lassen wollen, kontaktieren Sie bitte Ihren Admin.
                </div>
              </div>
              <div>
                <button (click)="deleteAccount()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Deaktivieren</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="page == 'groups'">
        <div class="p-10">
          <div class="grid grid-cols-2 mb-6">
            <div class="justify-self-center">
              <h1 class="text-2xl text-white mb-6">Gruppe Anlegen</h1>
              <div>
                <label for="groupname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gruppenname</label>
                <input
                  type="text" id="groupname"
                  class="mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  style="width: 300px;"
                  required
                />
                <button (click)="groupname()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Gruppe erstellen</button>
              </div>
            </div>
            <div class="justify-self-center">
              <h1 class="text-2xl text-white mb-6">Gruppe Verwalten</h1>
              <div class="text-white mb-6">
                <div>Hier können Sie bereits existierende Gruppen verwalten und neue Mitglieder hinzufügen.</div>
              </div>
              <div>
                <form>
                  <label for="group" class="block mb-2 text-gray-900 dark:text-white">Gruppe</label>
                  <select [(ngModel)]="selectedGroup" [ngModelOptions]="{standalone: true}" id="group" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option [value]="'-'" selected>Auswählen</option>
                    <option *ngFor="let option of groups" [value]="option.identifier">{{ option.title }}</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
          <ng-container *ngIf="selectedGroup != '-'">
            <hr *ngIf="selectedGroup != '-'">
            <div class="mt-6 text-white">
              In Arbeit
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
